public/posts/zenith-lead-followup-workflow.json
{
  "name": "🎯 Zenith Lead Auto-Followup System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-001",
      "name": "Webhook - Receive Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "zenith-lead-capture"
    },
    {
      "parameters": {
        "operation": "append",
        "sheetName": "Lead Tracker",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('YYYY-MM-DD HH:mm') }}",
            "Name": "={{ $json.body.name }}",
            "Email": "={{ $json.body.email }}",
            "Phone": "={{ $json.body.phone || 'N/A' }}",
            "Source": "={{ $json.body.source || 'website' }}",
            "Status": "=New",
            "DateAdded": "={{ $now.format('YYYY-MM-DD') }}"
          }
        },
        "options": {}
      },
      "id": "gsheets-log-002",
      "name": "Google Sheets - Log New Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [480, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "your-google-sheets-credential-id",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "your-email@gmail.com",
        "toEmail": "={{ $json.body.email }}",
        "subject": "=Hey {{ $json.body.name.split(' ')[0] }}, welcome! 🎉",
        "emailType": "html",
        "message": "=<div style='font-family: Arial, sans-serif; max-width: 600px; padding: 20px;'>\n<h2 style='color: #333;'>Hi {{ $json.body.name.split(' ')[0] }},</h2>\n<p style='color: #555; font-size: 16px;'>Thanks for reaching out! I got your message and I'm excited to help.</p>\n<p style='color: #555; font-size: 16px;'><strong>Here's what happens next:</strong></p>\n<ul style='color: #555; font-size: 16px;'>\n<li>I'll review your inquiry within 24 hours</li>\n<li>You'll get a personalized response (not a bot—I promise 😄)</li>\n<li>If it's urgent, just reply to this email</li>\n</ul>\n<br>\n<p style='color: #555; font-size: 16px;'>Talk soon!<br><strong>[Your/Client Name]</strong></p>\n<br>\n<div style='background: #f9f9f9; padding: 15px; border-radius: 8px; margin-top: 20px;'>\n<p style='font-size: 14px; color: #666;'><strong>P.S.</strong> Quick question—what's the #1 thing you're hoping we can help with?</p>\n</div>\n</div>",
        "options": {}
      },
      "id": "gmail-welcome-003",
      "name": "Gmail - Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [720, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "your-gmail-credential-id",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "amount": 72,
        "unit": "hours"
      },
      "id": "wait-72h-004",
      "name": "⏳ Wait 72 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [960, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-engagement",
              "leftValue": "={{ $json.opened || true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-check-005",
      "name": "IF - Check Engagement",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "fromEmail": "your-email@gmail.com",
        "toEmail": "={{ $('Webhook - Receive Lead').item.json.body.email }}",
        "subject": "=Quick check-in, {{ $('Webhook - Receive Lead').item.json.body.name.split(' ')[0] }} 👋",
        "emailType": "html",
        "message": "=<div style='font-family: Arial, sans-serif; max-width: 600px; padding: 20px;'>\n<h2 style='color: #333;'>Hey again!</h2>\n<p style='color: #555; font-size: 16px;'>I wanted to follow up and see if you had a chance to think about things.</p>\n<p style='color: #555; font-size: 16px;'><strong>No pressure at all</strong>—but if you have any questions or want to move forward, just hit reply.</p>\n<p style='color: #555; font-size: 16px;'>If now's not the right timing, totally understand. I'm here when you're ready.</p>\n<br>\n<p style='color: #555; font-size: 16px;'>Cheers,<br><strong>[Your Name]</strong></p>\n</div>",
        "options": {}
      },
      "id": "gmail-followup-006",
      "name": "Gmail - Send Follow-Up Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1440, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "your-gmail-credential-id",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "sheetName": "Lead Tracker",
        "columnToMatchOn": "Email",
        "valueToMatchOn": "={{ $('Webhook - Receive Lead').item.json.body.email }}",
        "columnsToUpdate": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "=Followed Up",
            "LastContactDate": "={{ $now.format('YYYY-MM-DD') }}",
            "FollowupSent": "=Yes"
          }
        },
        "options": {}
      },
      "id": "gsheets-update-007",
      "name": "Google Sheets - Update Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1680, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "your-google-sheets-credential-id",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Lead captured and automation started! 🎯\",\n  \"lead\": {\n    \"name\": \"{{ $json.body.name }}\",\n    \"email\": \"{{ $json.body.email }}\"\n  },\n  \"nextSteps\": [\n    \"Welcome email sent within 2 minutes\",\n    \"Follow-up scheduled for 72 hours later\",\n    \"All data logged in Google Sheets\"\n  ]\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-008",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 500]
    },
    {
      "parameters": {
        "mode": "merge",
        "jsonOutput": "={\n  \"originalData\": {{ JSON.stringify($('Webhook - Receive Lead').item.json) }},\n  \"welcomeSent\": true,\n  \"followupScheduled\": true,\n  \"timestamp\": \"{{ $now.format('YYYY-MM-DD HH:mm:ss') }}\"\n}"
      },
      "id": "merge-data-009",
      "name": "Merge Data for Tracking",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1680, 400]
    }
  ],
  "connections": {
    "Webhook - Receive Lead": {
      "main": [[{"node": "Google Sheets - Log New Lead", "type": "main", "index": 0}]]
    },
    "Google Sheets - Log New Lead": {
      "main": [[{"node": "Gmail - Send Welcome Email", "type": "main", "index": 0}], [{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    },
    "Gmail - Send Welcome Email": {
      "main": [[{"node": "⏳ Wait 72 Hours", "type": "main", "index": 0}]]
    },
    "⏳ Wait 72 Hours": {
      "main": [[{"node": "IF - Check Engagement", "type": "main", "index": 0}]]
    },
    "IF - Check Engagement": {
      "main": [
        [{"node": "Gmail - Send Follow-Up Email", "type": "main", "index": 0}],
        [{"node": "Merge Data for Tracking", "type": "main", "index": 0}]
      ]
    },
    "Gmail - Send Follow-Up Email": {
      "main": [[{"node": "Google Sheets - Update Status", "type": "main", "index": 0}]]
    },
    "Google Sheets - Update Status": {
      "main": [[{"node": "Merge Data for Tracking", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null
  },
  "staticData": null,
  "tags": [
    {
      "name": "Zenith Studio",
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z"
    },
    {
      "name": "Lead Automation",
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z"
    },
    {
      "name": "Client Work",
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T12:30:00.000Z",
  "versionId": "zenith-workflow-v1.0-production"
}